img {
  width: 200px;
  height: 300px;
}

p {
  color: blue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

iframe {
  height: 300px;
  aspect-ratio: 16 / 9;
}

body {
  background-color: pink;
}