* {
    margin: 0px;
    padding: 0px;
}

.box {
    height: 100px;
    width: 100px;
}

.main {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; */
    background-color: pink;
    width: 500px;
    height: 500px;
}

.a {
    background-color: red;
}

.b {
    background-color: green;
}

.c {
    background-color: blue;
}

.d {
    background-color: violet;
}