* {
    padding: 0px;
    margin: 0px;
}

.main {
    margin-top: 20px;
    background-color: pink;
    position: relative;
}

.box {
    height: 100px;
    width: 100px;
}

.a {
    background-color: red;
    position: absolute;
    left: 200px;
    top: 100px;
}

.b {
    background-color: green;
}

.c {
    background-color: blue;
}

.d {
    background-color: violet;
}