* {
    margin: 0px;
    padding: 0px;
}

.box {
    height: 100px;
    width: 100px;
}

.main {
    width: 500px;
    height: 500px;
    background-color: pink;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "a a a a a a"
    "b b b c c c"
    "d d d d d d"
    "e e e e e e";
} 

.a {
    grid-area: a;
    background-color: red;
}

.b {
    grid-area: b;
    background-color: green;
}

.c {
    grid-area: c;
    background-color: blue;
}

.d {
    grid-area: d;
    background-color: violet;
}

.e {
    grid-area: e;
    background-color: orange;
}

/* Media query: this rule will only apply when the device screen is >= 1000px wide */
@media (max-width: 1000px) {
    .main {
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e";
    } 
}